mixin videoBlock(video={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.fileUrl, controls=true, style="width: 300px; height: 200px")
            h4.videoBlock__title=video.title
            h6.videoBlock__views=video.views